pkgbase = omarchy-motion
	pkgdesc = Chrome-free video wallpapers with audio for Omarchy
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/ryrobes/omarchy-motion
	arch = any
	license = MIT
	depends = bash
	depends = coreutils
	depends = mpvpaper
	depends = sed
	depends = util-linux
	depends = yt-dlp
	source = omarchy-motion-1.1.0.tar.gz::https://github.com/ryrobes/omarchy-motion/releases/download/v1.1.0/omarchy-motion-1.1.0.tar.gz
	sha256sums = b4b7536968a1e0e5df150885846899dd5fb9fdfd1f545b249f3601e4e16abcec

pkgname = omarchy-motion
