pkgbase = omarchy-motion
	pkgdesc = Chrome-free video wallpapers with audio for Omarchy
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/ryrobes/omarchy-motion
	arch = any
	license = MIT
	depends = bash
	depends = coreutils
	depends = mpvpaper
	depends = sed
	depends = util-linux
	depends = yt-dlp
	source = omarchy-motion-1.2.0.tar.gz::https://github.com/ryrobes/omarchy-motion/releases/download/v1.2.0/omarchy-motion-1.2.0.tar.gz
	sha256sums = 82395fa614d84536fbe6108e0c15e5510bfcf126107764b811e7164cfccd0f01

pkgname = omarchy-motion
