pkgbase = omarchy-motion
	pkgdesc = Chrome-free video wallpapers with audio for Omarchy
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/ryrobes/omarchy-motion
	arch = any
	license = MIT
	depends = bash
	depends = coreutils
	depends = ffmpeg
	depends = mpvpaper
	depends = sed
	depends = util-linux
	depends = yt-dlp
	source = omarchy-motion-1.2.1.tar.gz::https://github.com/ryrobes/omarchy-motion/releases/download/v1.2.1/omarchy-motion-1.2.1.tar.gz
	sha256sums = 3fbf27860e44e95fb8fb34fac127fbe6208eea46fbedd470c446d5e06bbb0216

pkgname = omarchy-motion
